link(rel='stylesheet', href='/css/jquery.jsonview.css')
link(rel='stylesheet', href='/css/base.css')

body
    #bar
        input#filter
    #logs

script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='/js/jquery.jsonview.js')
script(src='/js/highland.js')
script(src='/socket.io/socket.io.js')
script(src='/js/somata-socketio.js')

script(src='/js/base.js')

